<h1>Configure your cookie</h1>

<h2>Select your cookie base</h2>

{{#each bases}}
    <a href="/configurator/select-base/{{this.[0]}}">Select {{this.[0]}} for {{this.[1]}} PLN</a>
{{/each}}

<h2>Select your favourite addons</h2>
{{#each addons}}
    {{#if (isNotInArray @root.cookie.addons this.[0])}}
    <a href="/configurator/add-addon/{{this.[0]}}">Add {{this.[0]}} for {{this.[1]}} PLN</a>
    {{/if}}
{{/each}}


{{#if cookie.base}}
    {{> cookie-preview}}
    {{> addons}}
{{else}}
    <p>Please select base to see its preview and summary</p>
{{/if}}