<h1>Configure your cookie</h1>

<h2>Select your cookie base</h2>

{{#each allBases}}
    <a href="/configurator/select-base/{{this.[0]}}" class="btn">Select {{this.[0]}} for {{this.[1]}} PLN</a>
{{/each}}

<h2>Select your favourite addons</h2>
{{#each allAddons}}
    <a href="/configurator/add-addon/{{this.[0]}}" 
    class="btn {{#if (isInArray @root.cookie.addons this.[0])}}btn-disabled{{/if}}">
    Add {{this.[0]}} for {{this.[1]}} PLN</a>
{{/each}}


{{#if cookie.base}}
    {{> cookie-preview}}
    {{> addons}}
    <a href="/order/summary" class="btn btn-basket">Order now!</a>
{{else}}
    <p>Please select base to see its preview and summary</p>
{{/if}}