<h3>Selected parts of cookie</h3>

<ul>
    <li>Base: {{cookie.base}} - {{pricify (find-price allBases cookie.base)}} PLN</li>
    {{#each cookie.addons}}
        <li>Addon: {{this}} - {{pricify (find-price @root.allAddons this)}} PLN 
            {{#unless ../noDeleteBtn}}
                <a href="/configurator/remove-addon/{{this}}" class="btn btn-small">Remove</a>
            {{/unless}}
            </li>
    {{/each}}
</ul>

<h4>Total price is {{pricify sum}} PLN</h4>