<h2>Lista zadań</h2>
<table>
    <thead>
        <tr>
            <th>
                Tytuł
            </th>
            <th>
                Data dodania
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each todos}}
        <tr>
            <th>
                <a href="/todo/{{this.id}}">{{this.title}}</a>
            </th>
            <td>
                {{this.addedAt}}
            </td>
            <td>
                <a href="/todo/{{this.id}}">Szczegóły</a>
                <form method="POST" action="/todo/{{this.id}}?_method=DELETE">
                    <button type="submit">Usuń</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<h3>Dodawanie nowego zadania</h3>

<form method="post" action="/todo">
    <label>
        <p>Wpisz zadanie</p>
        <p><textarea type="text" name="title"></textarea></p>
    </label>
    <button type="submit">Dodaj zadanie</button>
</form>